version: '3.8'
services:

  star-trek-ui:
    build:
      context: ./star-trek
      dockerfile: ./Dockerfile_local
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
